
.card {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  background: #5bb4c4;
  color: white;
  text-align: center;
  width: 180px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.description {
  font-size: 1em;
  color: #f4f4f4;
  padding-top: 10px;
  margin-top: 10px;
  font-style: italic;
}

